<div id="<%= dom_id documento %>">
  <p>
    <strong>Descripcion:</strong>
    <%= documento.descripcion %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= documento.contenido %>
  </p>

</div>
